body {
  /*font-family: "Barlow Condensed", sans-serif;*/
  margin: 0;
  font-family: "Rosario", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.bg-black {
  background-color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Rosario", sans-serif;
  color: #3abdfa;
}
header {
  padding-bottom: 50px;
}
/*navegacion*/
.navbar-toggler-icon {
  z-index: 20;
}
.navbar-logotexto a {
  font-size: 1.8em;
  color: #3abdfa;
  font-weight: 600;
  text-decoration: none;
}
.navbar-logotexto a:hover {
  text-decoration: none;
  color: black;
  text-shadow: 0px 0px 5px #3abdfa;
}
.navbar-fixed-top.scrolled {
  background-color: #000 !important;
  transition: background-color 200ms linear;
}
.navbar-fixed-top.scrolled a {
  color: #3abdfa !important;
}
.navbar-fixed-top.scrolled a:hover {
  color: whitesmoke !important;
}
nav {
  font-size: 1em;
  background: linear-gradient(180deg, #127aaa, transparent);
  border-top: 1px solid #045b83;
  font-family: "Rosario", sans-serif;
}
.nav-item a {
  font-weight: 500;
  display: block;
  text-align: center;
  color: #000;
} /* los links se mostrar치n en bloques. texto centrado y con un leve grosor*/

.nav-item a:link a:visited {
  color: #000;
} /* los links en su estilo normal y visitados tendran este color*/
.nav-item a:hover {
  color: #3abdfa;
}
nav .search-container {
  float: right;
}

nav .search-container input {
  color: #3abdfa;
  padding: 3px;
  margin: 8px;
  font-size: 1em;
  border: 1px solid #3abdfa;
  background-color: transparent;
}

nav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: transparent;
  color: #3abdfa;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

nav .search-container button:hover {
  color: whitesmoke;
}

/*personalizacion de la navegaci칩n - fin --------------------------------------*/
/*Imagen de pelicula destacada*/

.destacado {
  width: 100%;
  height: auto;
  position: relative;
}
.destacado img {
  width: 100%;
  height: auto;
  position: relative;
}
.destacado .resumen-peli {
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #999;
  position: absolute;

  bottom: 10px;
  width: 100%;
}
.destacado .resumen-peli button {
  z-index: 10;
}
.resumen-peli p {
  font-size: 2.5vw;
}
.resumen-peli h3 {
  font-size: 4vw; /*tama침o del titulo de la pelicula en el destacado*/
  text-align: left;
  color: #3afa74;
}
.texto-inicio h1 {
  font-size: 5vw;
}
.texto-inicio h3 {
  font-size: 2.5vw;
  color: #1982b3;
}
.texto-inicio {
  font-size: 5vw; /*tama침o del titulo de la pelicula en el destacado*/
  text-align: left;
  padding: 20px;
  /*background: rgba(0, 0, 0, 0.5);*/
  position: absolute;
  top: 50%;
  left: 20px;
  width: 50%;
}

#btnPlay {
  font-size: 2vw;
  font-weight: 600;
  padding: 1vw;
  border: none;
  background: #3abdfa;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 5px;
}
#btnPlay:hover {
  background: whitesmoke;
  color: black;
}
/* Video destacado del Inicio
video: 100% width and height para fullscreen*/
#myVideo {
  /*position: absolute;*/
  right: 0;
  top: 0;
  min-width: 100%;
}
#videoDiv {
  width: 100%;
  height: 430px; /*alto del video*/
  position: relative;
  z-index: -4;
}
#videoBlock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Slider categorias de VIDEOS*/
.tit-section {
  font-weight: 500;
  font-style: italic;
  padding: 7px 100px 0 20px;
  display: block;
  float: left;
  background: linear-gradient(90deg, #127aaa, transparent);
  border-bottom: 1px solid #3abdfa;
  border-left: 3px solid #3abdfa;
  text-shadow: 0px 0px 5px #000;
}

/*FOOTER*/
footer a {
  color: #035379;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
}

footer a:hover {
  color: #3abdfa;
  text-decoration: none;
}

footer {
  margin-top: 60px;
  border-top: 1px solid#035379;
  background-color: #01334b7a;
  color: #035379;
}
/*Modal Destacado*/
.fullscreen-modal .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
video {
  width: 100%;
}
