body {
  margin: 0;
  font-family: "Rosario", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.bg-black {
  background-color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Rosario", sans-serif;
  color: #3abdfa;
}
header {
  padding-bottom: 50px;
}

/*personalizacion de la navegación - fin --------------------------------------*/
/*Imagen de pelicula destacada*/

.destacado {
  width: 100%;
  height: auto;
  position: relative;
}
.destacado img {
  width: 100%;
  height: auto;
  position: relative;
}
.destacado .resumen-peli {
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: #999;
  position: absolute;

  bottom: 10px;
  width: 100%;
}
.destacado .resumen-peli button {
  z-index: 10;
}
.resumen-peli p {
  font-size: 2.5vw;
}
.resumen-peli h3 {
  font-size: 4vw; /*tamaño del titulo de la pelicula en el destacado*/
  text-align: left;
  color: #fff;
}
.texto-inicio h1 {
  font-size: 5vw;
}
.texto-inicio h3 {
  font-size: 2.5vw;
  color: #1982b3;
}
.texto-inicio {
  font-size: 5vw; /*tamaño del titulo de la pelicula en el destacado*/
  text-align: left;
  padding: 20px;
  /*background: rgba(0, 0, 0, 0.5);*/
  position: absolute;
  top: 50%;
  left: 20px;
  width: 50%;
}

#btnPlay {
  font-size: 2vw;
  font-weight: 600;
  padding: 1vw;
  border: none;
  background: #3abdfa;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 5px;
}
#btnPlay:hover {
  background: whitesmoke;
  color: black;
}
/* Video destacado del Inicio
video: 100% width and height para fullscreen*/
#myVideo {
  /*position: absolute;*/
  right: 0;
  top: 0;
  min-width: 100%;
}
#videoDiv {
  width: 100%;
  height: 430px; /*alto del video*/
  position: relative;
  z-index: -4;
}
#videoBlock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Slider categorias de VIDEOS*/
.tit-section {
  font-weight: 500;
  font-style: italic;
  padding: 7px 100px 0 20px;
  display: block;
  float: left;
  background: linear-gradient(90deg, #127aaa, transparent);
  border-bottom: 1px solid #3abdfa;
  border-left: 3px solid #3abdfa;
  text-shadow: 0px 0px 5px #000;
}

/*FOOTER*/
footer a {
  color: #035379;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
}

footer a:hover {
  color: #3abdfa;
  text-decoration: none;
}

footer {
  margin-top: 60px;
  border-top: 1px solid#035379;
  background-color: #01334b7a;
  color: #035379;
}
/*Modal Destacado*/
.fullscreen-modal .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
video {
  width: 100%;
}
