body {
  /*font-family: "Barlow Condensed", sans-serif;*/
  margin: 0;
  font-family: "Rosario", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.bg-black {
  background-color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Rosario", sans-serif;
  color: #3abdfa;
}
header {
  padding-bottom: 50px;
}
/*navegacion*/
.navbar-logotexto a {
  font-size: 1.8em;
  color: #3abdfa;
  font-weight: 600;
  text-decoration: none;
}
.navbar-logotexto a:hover {
  text-decoration: none;
  color: black;
  text-shadow: 0px 0px 5px #3abdfa;
}
.navbar-fixed-top.scrolled {
  background-color: #000 !important;
  transition: background-color 200ms linear;
}
.navbar-fixed-top.scrolled a {
  color: #3abdfa !important;
}
.navbar-fixed-top.scrolled a:hover {
  color: whitesmoke !important;
}
nav {
  font-size: 1em;
  background: linear-gradient(180deg, #127aaa, transparent);
  border-top: 1px solid #045b83;
  font-family: "Rosario", sans-serif;
}
.nav-item a {
  font-weight: 500;
  display: block;
  text-align: center;
  color: #000;
} /* los links se mostrarán en bloques. texto centrado y con un leve grosor*/

.nav-item a:link a:visited {
  color: #000;
} /* los links en su estilo normal y visitados tendran este color*/
.nav-item a:hover {
  color: #3abdfa;
}
nav .search-container {
  float: right;
}

nav .search-container input {
  color: #3abdfa;
  padding: 3px;
  margin: 8px;
  font-size: 1em;
  border: 1px solid #3abdfa;
  background-color: transparent;
}

nav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: transparent;
  color: #3abdfa;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

nav .search-container button:hover {
  color: whitesmoke;
}

/*personalizacion de la navegación - fin --------------------------------------*/

/* CAROUSEL del Inicio
Style the video: 100% width and height to cover the entire window */
#myVideo {
  /*position: absolute;*/
  right: 0;
  top: 0;
  min-width: 100%;
}
#videoDiv {
  width: 100%;
  height: 430px; /*alto del video*/
  position: relative;
  z-index: -4;
}
#videoBlock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resumen-peli {
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #999;
  width: 100%;
  z-index: 10;
}

.resumen-peli h3 {
  text-align: left;
  color: #3afa74;
}

#btnPlay {
  width: 130px;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  border: none;
  background: #3abdfa;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 5px;
}

#btnPlay:hover {
  background: whitesmoke;
  color: black;
}
/*Slider categorias de VIDEOS*/
.tit-section {
  font-weight: 500;
  font-style: italic;
  padding: 7px 100px 0 20px;
  display: block;
  background: linear-gradient(90deg, #127aaa, transparent);
  border-bottom: 1px solid #3abdfa;
  border-left: 3px solid #3abdfa;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}
.wrapper span {
  color: #fff;
}
.wrapper section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, auto); /*cantidad de imagenes por fila*/
  margin: 0 0 20px 0;
}

.wrapper section .item {
  padding: 0 2px;
  transition: 200ms all;
}
.wrapper section .item:hover {
  margin: 0 10px 0 10px;
  transform: scale(1.1);
  cursor: pointer;
}
.wrapper section .item img {
  width: 220px;
  height: auto;
}

.wrapper section a {
  position: absolute;
  color: #3abdfa;
  text-decoration: none;
  font-size: 6em;
  line-height: 0.7em;
  background: #000;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
  text-shadow: 0px 0px 5px #000;
}
.wrapper section a:nth-of-type(1) {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.wrapper section a:nth-of-type(2) {
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
