pre {
  border: 1px solid #000;
  overflow-x: auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}

.wrapper {
  max-width: 100%;
  padding: 0 10px 20px 20px;
  margin: auto;
}

.jcarousel-wrapper {
  position: relative;
}

/** Carousel **/

.jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.jcarousel ul {
  width: 10000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel li {
  float: left;
  display: block;
  transition: 200ms all;
  display: inline-block;
}
.jcarousel li:hover {
  margin: 0 10px 0 10px;
  transform: scale(1.1);
  cursor: pointer;
  display: inline-block;
}
.jcarousel img {
  width: 97%; /*img-fluid (menos 3 pixels para el espaciado entre imagenes) en bootstrap*/
  height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 50%;
  margin-top: -15px;

  text-align: center;

  color: #3abdfa;
  text-decoration: none;
  font-size: 6em;
  line-height: 0;
  text-shadow: 0 0 5px #000;
}
.jcarousel-control-prev:hover {
  text-decoration: none;
  color: #3abdfa;
}
.jcarousel-control-next:hover {
  text-decoration: none;
  color: #3abdfa;
}

.jcarousel-control-prev {
  left: 15px;
}

.jcarousel-control-next {
  right: 15px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 0;
}

.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;

  font-size: 11px;
  height: 10px;
  width: 10px;
  line-height: 10px;

  background: #fff;
  color: #4e443c;
  border-radius: 10px;
  text-indent: -9999px;

  margin-right: 7px;

  -webkit-box-shadow: 0 0 2px #4e443c;
  -moz-box-shadow: 0 0 2px #4e443c;
  box-shadow: 0 0 2px #4e443c;
}

.jcarousel-pagination a.active {
  background: #4e443c;
  color: #fff;
  opacity: 1;

  -webkit-box-shadow: 0 0 2px #f0efe7;
  -moz-box-shadow: 0 0 2px #f0efe7;
  box-shadow: 0 0 2px #f0efe7;
}
